<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Laser UD </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="stylesheets/mainstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ironbot</title>
    </head>
<body>
    {{{body}}}
</body>
</html>