<header class="header" class="fadeInDown">
		<div class="header__left mt-lg-3">
				<img id="icon" class="header__left--img" src="/images/laser.png">
		</div>
		<div class="header__right">
			<div class="svg-attributes-demo">
				<svg width="80" height="80" viewBox="0 0 128 128">
					<filter id="displacementFilter">
					<feTurbulence type="turbulence" baseFrequency=".05" numOctaves="2" result="turbulence"/>
					<feDisplacementMap in2="turbulence" in="SourceGraphic" scale="15" xChannelSelector="R" yChannelSelector="G"/>
					</filter>
					<polygon points="64 46.36 40 35 8.574 15 63.446 47.32 64 111 64.554 47.32 88 35 119.426 15" style="filter: url(#displacementFilter)" fill="red"/>
				</svg>
			</div>
			<a class="header__right--a" href="/logout">
				<img id="" class="" src="/images/logout.png">
			</a>
		</div>	
</header>
<div class="container-fluid">
	<div class="row content1">
		<div class="col-lg-8 col-md-12 content1__left" >
			<div class="content1__video">
				<img id='' class="content1__video--img fasein-animation" src="/images/robot-iron.jpg" width="50%" class="video-image">
			</div>
		</div>
		<div class="col-lg-4 col-md-12 content1__right">
			<div class="content1__box">
					<div class="content1__box__space">
						<canvas id="box" class="content1__caja--canvas" height="100" width="100"></canvas>
						<h5 id="topbox" > T </h5>
						<h5 id="rightbox" > R </h5>
						<h5 id="bottombox"> B </h5>
						<h5 id="leftbox" > L </h5>						
					</div>
			</div>
			<div class="content1__jostick">
					<div class="content1__jostick__space">
						<canvas id="joystick" height="150" width="300"></canvas>
					</div>
					<p id="xVal" >X: </p>
					<p id="yVal" >Y: </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id='sensor1'> 
				Espacio para sensores
			</div>

			<div id='sensor2'> </div>
		</div>
	</div>
</div>

{{>scripts}}
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.combined.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="/javascripts/heart.js"></script>
<script src="/javascripts/virtual_controller.js"></script>
<script src="/javascripts/main.js"></script>
