.body{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}
.header{
	position: absolute;
	width: 90%;
	height:100%;
	margin-left: 4%;
	background-color: gray;
}
.div{
	position: float;
	border: 2px solid #ccc;
	border-color: #B4B4B4;
	text-align: center;
	width: 55%;
	height: 10%;
	margin-top: 12%;
	margin-left: 40%;
}
.td{
	color: blue;
}
.imagen{
	border-style: ridge;
	border-color: #B4B4B4;
	position: absolute; 
	top: 1%; 
	left: 48%;
	height: 60.5%;
	width: 49%;
}
.div1{
	border-style: ridge;
	position: absolute; 
	border-color: #B4B4B4;
	top: 1%; 
	left: 2.5%;
	height: 97%;
	width: 45%;
}
.div2{
	border-style: ridge;
	border-color: #B4B4B4;
	position: absolute; 
	top: 63%; 
	left: 48%;
	height: 35%;
	width: 49%;
}
.divr{
	border-style: ridge;
	border-color: #747474;
	position: absolute; 
	top: 1%; 
	left: 0%;
	width: 2%;
	height: 97%;
	background: black;
}
.divl{
	border-style: ridge;
	border-color: #747474;
	position: absolute; 
	top: 1%; 
	left: 97.6%;
	width: 2%;
	height: 97%;
	background: black;
}
