@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
:root{/*Variables globales de CSS*/
--blue-color:#42626F;
--blue-light-color:#0087ca;
--gray-color:#C0C0C0;
--perla-color: 	#F6F6F6;
/*Box Shadow*/
--box-s:0px 0 2 px 1 px #e9e5e5;
--padding-20:20px;
--padding-10:10px;
--joystick-len:150px;
--joystick-len2:300px;
--box--height:280px;
--box--width:250px;

}

body{
	padding: 0px;
	margin: 0px;
	font-family: 'Righteous', ;
}

.header {
	display: flex;
	justify-content: space-between;
	color:var(--blue-color);
	padding: var(--padding-10) var(--padding-20);
	
}

.header__left--img{
	width: 50%;
	height: 50%;
}

.header__right{
	display: flex;
}

.header__right--a{
	margin: 20px 10px 20px 20px;
}

.content1__video{
	margin:var(--padding-10) var(--padding-10) var(--padding-10) var(--padding-20);
	border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 5px solid var(--gray-color);
	box-shadow: 0 0 3px #c1bcbc;
	z-index: 100;
}
.content1__video--img{
	height: max-content;
	width: 100%;
}
.content1__right{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
}
.content1__box__space{
	position: relative;
}

#joystick {
	height: var(--joystick-len);
	width: var(--joystick-len2);
	border-radius: var(--joystick-len) var(--joystick-len) 0 0;
	-moz-border-radius: var(--joystick-len) var(--joystick-len) 0 0;
	-webkit-border-radius: var(--joystick-len) var(--joystick-len) 0 0 ;
	text-align: center;
	background-color: var(--blue-light-color);
	cursor: all-scroll;
	user-select: none;
  	z-index: -100;
  }
  #box {
	height: var(--box--height);
	width: var(--box--width);
	text-align: center;
	background-color: var(--blue-light-color);
	cursor: all-scroll;
	user-select: none;
  	z-index: -100;
  }
#topBox{
	position: absolute;
	top: 5%;
    left: 48%;
}
#rightBox{
	position: absolute;
	top: 45%;
    right:5%;
}
#bottomBox{
	position: absolute;
	bottom: 2%;
    left: 48%;
}
#leftBox{
	position: absolute;
	top: 45%;
    left: 5%;
}


/*Response*/

@media (max-width:600px){
	.header {
		display: inherit;
		align-items: center;
		
	}
	.header__left--img{
		display: none;
	}	
	.content1__video{
		width: 90%;
		margin:8%;
		background-color:var(--perla-color);
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 1px solid var(--gray-color);
	}
}

/* Animacion*/

.fadeIn-animation{
	animation-duration: 4s;
	-webkit-animation-duration: 4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: animationFrames;
	animation-name: animationFrames;
  }
  
  @keyframes animationFrames{
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
  }
  
  .fadeInDown{
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
  }
  
  @keyframes fadeInDown {
	from{
	  opacity: 0;
	  -webkit-transform: translate3d(0,-100%,0);
	  transform: translate3d(0,-100%,0);
	}
	to{
	  opacity: 1;
	  -webkit-transform: translate3d(0,0,0);
	  transform: translate3d(0,0,0);
	}
  }