@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
:root{/*Variables globales de CSS*/
--blue-color:#42626F;
--gray-color:#C0C0C0;
/*Box Shadow*/
--box-s:0px 0 2 px 1 px #e6e5e9;
--padding-20:20px;

}

.body{
	overflow-y: hidden;
	font-family: 'Righteous', ;
}

#Header {
	display: flex;
	color:var(--blue-color);
	padding: var(--padding-20);
	justify-content: space-between;
	align-items: center;
}
.logo{
	width: 50%;
	height: 50%;
}

.heart {
	position: relative;
	cursor: pointer;
}

.README{
	float: left;
	margin-left:5px;
}
.imagen{
	float:left;
	width: 768px;
	height: 432px;
	margin:5px;
	background-color: #f1f1f1;
	padding: 0.01em 16px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}
.sensors{
	margin:5px;
	background: transparent;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	clear: both;
}

#btnSubmit-signup{
	background-color: var(--blue-color);
	border-color: var(--blue-color);
}

@media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.demo-content {
		float: none;
	  }

}