@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
:root{/*Variables globales de CSS*/
--blue-color:#42626F;
--gray-color:#C0C0C0;
--perla-color: 	#F6F6F6;
/*Box Shadow*/
--box-s:0px 0 2 px 1 px #e6e5e9;
--padding-20:20px;
--padding-10:10px;

}

body{
	font-family: 'Righteous', ;
}

#Header {
	display: flex;
	color:var(--blue-color);
	padding: var(--padding-10) var(--padding-20);
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
#DivLogo{
	text-align: left;
}
.logo{
	width: 50%;
	height: 50%;
}
/*Main Section*/

/*Primary Section*/

.primary_section{
	display: flex;
	color:var(--blue-color);
	justify-content: space-between;
	align-items: center;
}

.div_space_video{
	width: 768px;
	height: 432px;
	margin-left:var(--padding-20);
	background-color:var(--perla-color);
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;
	border: 2px solid var(--gray-color);
	display: flex;
   	justify-content: center;
	   align-items: center;
	box-shadow: 0 0 3px #c1bcbc;
}

/*Secundary Section*/
.secunday_section{
	display: flex;
	color:var(--blue-color);
	justify-content: space-between;
	align-items: center;
}

/*Response*/

@media (max-width:600px){
	.logo{
		display: none;
	}
	#Header {
		display: inherit;
		align-items: center;
		
	}
	.primary_section{
		display: inherit;
		height: auto;
	}
	
	.div_space_video{
		width: 90%;
		margin:8%;
		background-color:var(--perla-color);
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border: 1px solid var(--gray-color);
	}
}

/* Animacion*/

.element-animation{
	animation: animationFrames linear 0.8s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames linear 0.8s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	animation-name: faseIn;
  }
  
  @keyframes animationFrames{
	0% {
	  transform:  translate(0px,0px)  ;
	}
	15% {
	  transform:  translate(0px,-25px)  ;
	}
	30% {
	  transform:  translate(0px,0px)  ;
	}
	45% {
	  transform:  translate(0px,-15px)  ;
	}
	60% {
	  transform:  translate(0px,0px)  ;
	}
	75% {
	  transform:  translate(0px,-5px)  ;
	}
	100% {
	  transform:  translate(0px,0px)  ;
	}
  }
  